<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>djBlog - {% block title %}Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/select.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="container">
            <div class="logo-block"><a href="/"><h1>djBlog</h1></a></div>
            <div class="menu-block">
                {% if user.is_authenticated %}
                    <a href="#">
                        <button>Profile</button>
                    </a>
                    <a href="#">
                        <button>My posts</button>
                    </a>
                    <a href="#">
                        <button>New post</button>
                    </a>
                    <a href="{% url 'logout' %}">
                        <button>Log out</button>
                    </a>
                {% else %}
                    <a href="/">
                        <button>Sign Up</button>
                    </a>
                    <a href="{% url 'signin' %}">
                        <button>Sign In</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            {% block content %}Something wrong, if you se this.{% endblock %}
        </div>

        {% block sidebar %}
            <div class="sidebar">
                <section>
                    <h2>Categories</h2>
                    <div>
                        {% for c in ctx.categories %}
                            <p>{{ c.name }}</p>
                        {% empty %}
                            <p>No categories yet..</p>
                        {% endfor %}
                    </div>
                </section>
                <section>
                    <h2>Tags</h2>
                    <div>
                        {% for t in ctx.tags %}
                            <p>{{ t.name }}</p>
                        {% empty %}
                            <p>No tags yet..</p>
                        {% endfor %}
                    </div>
                </section>
                <section>
                    <h2>Popular</h2>
                    <div>
                        {% for b in ctx.popular_blogers %}
                            {{ b.user.username }}
                        {% endfor %}
                    </div>
                </section>
            </div>
        {% endblock %}
    </div>

{% if messages %}
    <div class="flash-popup">
        <div class="flash-content">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <span class="flash-note">It will disappear automatically</span>
        </div>
        <script>
            setTimeout(function () {
                let flash = document.querySelector('.flash-popup');
                flash.classList.add('hide');
            }, 1000)
        </script>
    </div>

{% endif %}
</div>
<script src="{% static 'blog/js/select.js' %}"></script>
</body>
</html>