<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>djBlog - {% block title %}Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/select.css' %}">
    <script src="https://kit.fontawesome.com/8b93f2423e.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="container">
            <div class="logo-block"><a href="/"><h1><i class="fas fa-heart"></i>&nbsp;&nbsp;TRRio</h1></a></div>
            <div class="menu-block">
                {% if user.is_authenticated %}
                    <a href="#">
                        <button class='b0'><i class="fas fa-user"></i>&nbsp;&nbsp;Profile({{ user.username }})</button>
                    </a>
                    <a href="{% url 'myposts' %}">
                        <button class='b0'><i class="fas fa-clone"></i>&nbsp;&nbsp;My posts</button>
                    </a>
                    <a href="{% url 'newpost' %}">
                        <button class='b0'><i class="fas fa-plus"></i>&nbsp;&nbsp;Create post</button>
                    </a>
                    <a href="{% url 'logout' %}">
                        <button class='b0'><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Log out</button>
                    </a>
                {% else %}
                    <a href="{% url 'signup' %}">
                        <button class='b0'><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Sign Up</button>
                    </a>
                    <a href="{% url 'signin' %}">
                        <button class='b0'><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Sign In</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            {% block content %}Something wrong, if you se this.{% endblock %}
        </div>

        {% block sidebar %}
            <div class="sidebar">
                <section>
                    <h2>Categories</h2>
                    <div>
                        {% for c in categories %}
                            <p class='category'><a href="">{{ c.name }}</a></p>
                        {% empty %}
                            <p>No categories yet..</p>
                        {% endfor %}
                    </div>
                </section>
                <section>
                    <h2>Tags</h2>
                    <div>
                        {% for t in tags %}
                            {% if t.name in request.GET.t %}
                                <p class='tag selected'>
                                    <a href="{% url 'del_tag' t.name %}">
                                        {{ t.name }}
                                    </a>
                                </p>
                            {% else %}
                                <p class='tag'>
                                    <a href="{% url 'add_tag' t.name %}">
                                        {{ t.name }}
                                    </a>
                                </p>
                            {% endif %}
                        {% empty %}
                            <p>No tags yet..</p>
                        {% endfor %}
                    </div>
                </section>
                <section>
                    <h2>Popular</h2>
                    <div>
                        {% for b in ctx.popular_blogers %}
                            {{ b.user.username }}
                        {% empty %}
                            <p>No popular yet</p>
                        {% endfor %}
                    </div>
                </section>
            </div>
        {% endblock %}
    </div>

    {% if messages %}
        <div class="flash-popup">
            <div class="flash-content">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                <span class="flash-note">It will disappear automatically in 3 seconds</span>
            </div>
            <script>
                setTimeout(function () {
                    let flash = document.querySelector('.flash-popup');
                    flash.classList.add('hide');
                }, 3000)
            </script>
        </div>

    {% endif %}
</div>
<script src="{% static 'blog/js/select.js' %}"></script>
</body>
</html>
