<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/select.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="container">
            <div class="logo-block"><h1>djBlog</h1></div>
            <div class="menu-block">
                <a href="/">
                    <button>Sign Up</button>
                </a>

                <a href="/">
                    <button>Sign In</button>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            {% block content %}Something wrong, if you se this.{% endblock %}
        </div>
        <div class="sidebar">
            {% block sidebar %}
                <section>
                    <h2>Categories</h2>
                    
                </section>
            {% endblock %}
        </div>
    </div>
</div>
<script src="{% static 'blog/js/select.js' %}"></script>
</body>
</html>