{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    <div class="post-view block">
        <h1>{{ object.title }}</h1>
        <p>{{ object.author.username }}</p>
        <p>{{ object.category.name }}</p>
        <p>
            {% for tag in post.tag.all %}
                <span class="tag">#{{ tag.name }}</span>
            {% endfor %}
        </p>
        <p>{{ object.pub_date }}</p>
        <h2>
            {{ object.anons }}
        </h2>
        <p><img src="{{ post.image.url }}" class="post-img" alt=""></p>
        <p>
            {{ object.text }}
        </p>
    </div>
{% endblock %}