{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    All posts
{% endblock %}

{% block content %}
    <div class="post-panel">
        <form action="">
            Sorting -
            <div class="custom-select">
                <select name="s" id="">
                    <option default value="1">By New</option>
                    <option value="2">Most Viewed</option>
                </select>
            </div>
            <button>Ok</button>
        </form>
    </div>
    {% for post in posts %}
        <div class="post">
            <div class="img">
                <img src="{{ post.image.url }}" class="post-img" alt="">
            </div>
            <div class="content">
                <div class="left">
                    <a href="{% url 'detail' post.id %}">
                        <h1>{{ post.title }}</h1>
                        <p>{{ post.category.name }}</p>
                        <p>{{ post.anons }}</p>
                    </a>
                </div>
                <div class="right">
                    <p>{{ post.pub_date }}</p>
                    <p>by {{ post.author.username }}</p>
                </div>
                <div class="bottom">
                    <p>
                        {% for tag in post.tag.all %}
                            <span class="tag">#{{ tag.name }}</span>
                        {% endfor %}
                    </p>
                    <p>{{ post.views }}</p>
                </div>
            </div>
        </div>
    {% empty %}
        Nothing posted yet
    {% endfor %}
    <div class="pagination block">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}