{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    All posts
{% endblock %}

{% block content %}
    <div class="post-panel">

    </div>
    {% for post in posts %}
        <div class="post">
            <h1>{{ post.title }}</h1>
            <h2>{{ post.anons }}</h2>
            <div>
                <p>{{ post.category.name }}</p>
                <p><img src="{{ post.image.url }}" alt=""></p>
                <p>{{ post.text }}</p>
            </div>
        </div>
    {% empty %}
        Nothing posted yet
    {% endfor %}
{% endblock %}