{% extends 'blog/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% if page_title %}
        {{page_title}}
    {% else %}
        {% trans 'Create new post' %}
    {% endif %}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
    <div class="block newpost">
        <h2>
            {% if page_title %}
                {{page_title}}
            {% else %}
                {% trans 'Create new post' %}
            {% endif %}
        </h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {% if field.label %} {{ field.label_tag }} <br> {% endif %}
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span class="form-error">{{ error|escape }}</span>
                        {% endfor %}
                    {% endif %}
                    </span>
                </p>
            {% endfor %}

            <button>{% trans 'Save post' %}</button>
        </form>

    </div>
{% endblock %}